@model ResultModel<TimedTask>
@{
    ViewBag.Title = "定时任务";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <style>
        html {
            overflow-x: hidden;
        }
        .form-group {
            float:left;
            margin-right:8px;
        }

    </style>
}
<ul class="breadcrumb">
    <li><a href="#">系统配置</a> <span class="divider">/</span></li>
    <li><a href="#">权限管理</a> <span class="divider">/</span></li>
    <li class="active">定时任务</li>
</ul>

<div class="bs-docs-example">
    <form >

        <div class="form-group">
            <label for="exampleInputEmail1">业务名称</label>
            @{
                string TypeId = TQuery.GetString("TypeId");
                var listTypeId = ITOrm.Utility.Helper.EnumHelper.GetEnumItemToListItem(typeof(Logic.TimedTaskType));

            }
            @Html.MyDrop(listTypeId, "全部", "0", TypeId, new { @name = "TypeId", @id = "TypeId", @style = "width:120px" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">执行时间</label>
            <input type="text" style="width:100px" class="input Wdate form-control" value="@TQuery.GetString("StartTime")" onfocus="WdatePicker({ readOnly: true})" name="StartTime" placeholder="开始检索时间">
            <input type="text" style="width:100px" class="input Wdate form-control" value="@TQuery.GetString("EndTime")" onfocus="WdatePicker({ readOnly: true})" name="EndTime" placeholder="结束检索时间">
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">搜索</label>
            <button class="btn btn-default" type="submit">提交</button>

        </div>
        <div style="clear:both;"></div>
    </form>
</div>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <td>任务名称</td>
            <th>任务内容</th>
            <th>创建时间</th>
            <th>预期执行时间</th>
            <th>实际执行时间</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.ID</td>
                <td>
                    @(((Logic.TimedTaskType)item.TypeId).ToString())
                </td>
                <td>
                @(item.Value)
                </td>
                <td>@(item.CTime)</td>
                <td>@(item.ExecTime)</td>
                <td>
                    
                    @(item.State!=0?item.UTime.ToString(): "--")
                </td>
                <td>
                    @if (item.State == 0)
                    {
                        @Html.MySpan("等待执行", "#FD9D06");
                    }
                    else if (item.State == 1)
                    {
                        @Html.MySpan("执行成功", "green");
                    }
                    else
                    {
                        @Html.MySpan("执行失败", "red");
                    }
                </td>
              
            </tr>
        }
    </tbody>
</table>
@Html.Pager("pageIndex", 10, Model.totalCount)





