@model ResultModel<ViewBankQuota>
@{
    ViewBag.Title = "通道支持银行卡";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <style>
        html {
            overflow-x: hidden;
        }
        .form-group {
            float:left;
            margin-right:8px;
        }
    </style>
}
<ul class="breadcrumb">
    <li><a href="#">系统配置</a> <span class="divider">/</span></li>
    <li><a href="#">权限管理</a> <span class="divider">/</span></li>
    <li class="active">通道支持银行卡</li>
</ul>



<div class="bs-docs-example">
    <form>

        
        <div class="form-group">
            <label for="exampleInputEmail1">匹配通道</label>
            @{
                var listChannelType = ITOrm.Utility.Helper.EnumHelper.GetEnumItemToListItem(typeof(Logic.ChannelType));
            }
            @Html.MyDrop(listChannelType, "全部", "-1", TQuery.GetString("ChannelType"), new { @name = "ChannelType", @style = "width:150px" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">可用状态</label>
            @{
                List<SelectListItem> listState = new List<SelectListItem>();
                listState.Add(new SelectListItem() { Value="0",Text="可用"});
                listState.Add(new SelectListItem() { Value = "-1", Text = "不可用" });
            }
            @Html.MyDrop(listState, "全部", "-200", TQuery.GetString("State"), new { @name = "State", @style = "width:120px" })
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">搜索</label>
            <button class="btn btn-default" type="submit">提交</button>

        </div>
        <div class="form-group " style="float:right;">
            <label for="exampleInputEmail1">　</label>
            <a class="btn btn-default" href="/bankquota/edit" style="" role="button">新增</a>
        </div>
        <div style="clear:both;"></div>
    </form>
</div>

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>通道名称</th>
            <th>银行名称</th>
            <th>银行编码</th>
            <th>单笔限额</th>
            <th>单日限额</th>
            <th>每月限额</th>
            <th>可用状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.ID</td>
                <td>@(((Logic.ChannelType)item.ChannelType).ToString())</td>
                <td>@item.BankName</td>
                <td>@item.BankCode</td>
                <td>@item.SingleQuota</td>
                <td>@(item.DayQuota)</td>
                <td>@(item.MouthQuota)</td>
                <td>
                    @if (item.State == 0)
                    {
                        @Html.MySpan("可用","green")
                    }
                    else
                    {
                        @Html.MySpan("不可用", "red")
                    }
                </td>
                <td>
                    <a href="/bankquota/edit/@item.ID">编辑</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager("pageIndex", 10, Model.totalCount)

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">您确定要删除这条信息吗？</h3>
    </div>
    <div class="modal-body" style=" max-height:300px;">
        @*<table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@@mdo</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@@fat</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>

                            ddddddd
                        </td>
                    </tr>
                </tbody>
            </table>*@
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">确定</button>
        <button class="btn ">取消</button>
    </div>
</div>