@model ResultModel
@{
    ViewBag.Title = "资金记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{
    <style>
        html {
            overflow-x: hidden;
        }
        .form-group {
            float:left;
            margin-right:8px;
        }

    </style>
}
<ul class="breadcrumb">
    <li><a href="#">系统配置</a> <span class="divider">/</span></li>
    <li><a href="#">权限管理</a> <span class="divider">/</span></li>
    <li class="active">资金记录</li>
</ul>

<div class="bs-docs-example">
    <form >
        <div class="form-group">
            <label for="exampleInputEmail1">按用户</label>

            @{
                List<SelectListItem> listType = new List<SelectListItem>();
                listType.Add(new SelectListItem() { Value="0",Text="用户ID"});
                listType.Add(new SelectListItem() { Value = "1", Text = "手机号" });
                listType.Add(new SelectListItem() { Value = "2", Text = "姓名" });
                listType.Add(new SelectListItem() { Value = "3", Text = "身份证" });
                listType.Add(new SelectListItem() { Value = "4", Text = "关联ID" });
            }
            @Html.MyDrop(listType, "请选择", "-1", TQuery.GetString("Type"), new { @name = "Type", @style="width:80px"})
            <input type="text" style="width:150px" value="@TQuery.GetString("KeyValue")" class="form-control" name="KeyValue" placeholder="按类型搜索">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">业务名称</label>
            @{
                var listTypeId = ITOrm.Utility.Helper.EnumHelper.GetEnumItemToListItem(typeof(Logic.AccountType));
            }
            @Html.MyDrop(listTypeId, "全部", "-1", TQuery.GetString("TypeId"), new { @name = "TypeId", @style = "width:80px" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">变动类型</label>
            @{

                List<SelectListItem> listInOrOut = new List<SelectListItem>();
                listInOrOut.Add(new SelectListItem() { Value = "1", Text = "+" });
                listInOrOut.Add(new SelectListItem() { Value = "0", Text = "冻结" });
                listInOrOut.Add(new SelectListItem() { Value = "-1", Text = "-" });
            }
            @Html.MyDrop(listInOrOut, "全部", "-100", TQuery.GetString("InOrOut"), new { @name = "InOrOut", @style = "width:100px" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">发生时间</label>
            <input type="text" style="width:100px" class="input Wdate form-control" value="@TQuery.GetString("StartTime")" onfocus="WdatePicker({ readOnly: true})" name="StartTime" placeholder="开始检索时间">
            <input type="text" style="width:100px" class="input Wdate form-control" value="@TQuery.GetString("EndTime")" onfocus="WdatePicker({ readOnly: true})" name="EndTime" placeholder="结束检索时间">
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">搜索</label>
            <button class="btn btn-default" type="submit">提交</button>

        </div>
        <div style="clear:both;"></div>
    </form>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>用户ID</th>
            <th>姓名</th>
            <th>业务</th>
            <th>变动</th>
            <th>计算前金额</th>
            <th>交易金额</th>
            <th>计算后金额</th>
            <th>冻结金额</th>
            <th>创建时间</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @{
          
            if (Model.list != null&&Model.list.Count>0)
            {
                foreach (var item in Model.list)
                {
                    <tr>
                        <td>@item["ID"].ToInt()</td>
                        <td>@item["UserId"].ToInt()</td>
                        <td>@item["RealName"]</td>

                        <td>
                            @{
                                string txt = ((Logic.AccountType)@item["TypeId"].ToInt()).ToString();
                                switch (item["InOrOut"].ToInt())
                                {
                                    case -1:
                                        @Html.MySpan(txt, "red");
                                        break;
                                    case 0:
                                        @Html.MySpan(txt, "#FD9D06");
                                        break;
                                    case 1:
                                        @Html.MySpan(txt, "green");
                                        break;
                                    default:
                                        break;
                                }
                            }
                        </td>
                        <td>
                            @{

                                switch (item["InOrOut"].ToInt())
                                {
                                    case -1:
                                        @Html.MySpan("-", "red");
                                        break;
                                    case 0:
                                        @Html.MySpan("-", "#FD9D06");
                                        break;
                                    case 1:
                                        @Html.MySpan("+", "green");
                                        break;
                                    default:
                                        break;
                                }
                            }
                        </td>
                        <td>@item["Remain"].ToDecimal().ToString("F2")</td>
                        <td>@item["Amount"].ToDecimal().ToString("F2")</td>
                        <td>@item["Available"].ToDecimal().ToString("F2")</td>
                        <td>@item["Frozen"].ToDecimal().ToString("F2")</td>
                        <td>@item["CTime"].ToDateTime().ToString()</td>
                        <td>@item["Remark"].ToString()</td>
                    </tr>
                                    }
                            }

                        }

    </tbody>
</table>

@Html.Pager("pageIndex", 10, Model.totalCount)

<!-- Modal -->
<div class="modal fade in" id="_modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     style="display: none;">
    <div class="modal-dialog" role="document" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modalLabel">提现</h4>
            </div>
            <div id="_modalDialog_body" class="modal-body">
                @*设置这个div的大小，超出部分显示滚动条
            <div id="selectTree" class="ztree" style="height:600px;overflow:auto; ">

            </div>*@

                <div class="bs-docs-example">

                        <div class="form-group ">
                            <label for="exampleInputEmail1">提现金额</label>
                            <input type="text" style="width:150px" value="" class="form-control" name="dramAmount" id="dramAmount" placeholder="提现金额">

                        </div>
                        <div class="form-group ">
                            <label for="exampleInputEmail1">操作</label>
                            <button class="btn btn-default" type="button" onclick="draw()">提交</button>

                        </div>
                    <div class="form-group " style="float:right;">
                        <label for="exampleInputEmail1">可用余额</label>
                        <h4 id="Available">0.00</h4>
                        

                    </div>
                        <div style="clear:both;"></div>

                </div>


                    <div class="bs-docs-example">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>提现金额</th>
                                    <th>剩余金额</th>
                                    <th>操作时间</th>
                                </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

    <!-- Small modal -->
<div class="modal fade in " tabindex="-1" role="dialog" id="myModal" aria-labelledby="modalLabel" style="display:none">
    <div class="modal-dialog " role="document" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <span style="float:right;" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
                <h2 class="modal-title" id="myModalTitle" style="text-align:center;">提示</h2>
            </div>
            <div class="modal-body">
                <div class="alert " id="alertDiv" style="text-align:center;" role="alert">
                    <strong style="font-size:1.3em" id="myModalMessage">支付成功</strong>
                </div>
            </div>
            <div class="modal-footer">
    
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var uid = 0;
    function UpgradeVip(userid,viptype,name)
    {

        if (confirm("确定给该用户升级" + name + "吗？"))
        {
           window.location.href = "/users/FeeSetApi?UserId=" + userid + "&VipType=" + viptype;
        }
    }

    function selectLog(UserId, Available) {
        uid = UserId;
        $("#Available").html(Available);
        $.post("/users/GetDrawRecord", { UserId: UserId}, function (data) {

            var html = "";
            if (data.backState == 0 && data.list != null)
            {
                for (var i = 0; i < data.list.length; i++) {
                    html += "<tr><td>" + data.list[i].ID + "</td><td>" + data.list[i].Amount + "</td><td>" + data.list[i].Available + "</td><td>" + data.list[i].CTime + "</td></tr>";
                }
            }
            $("#tbody").html(html);

            $('#_modalDialog').modal({ keyboard: false })
            //获取modal的宽度
            var modalWidth = $("#_modalDialog").width();

            //计算偏移量
            var left = "-" + parseInt(modalWidth) / 2 + "px";

            //modal居中
            $("#_modalDialog").modal("show").css({ "margin-left": left });
        },"json")


   



    }

    function draw()
    {

        var Amount = $("#dramAmount").val();
        if (uid == 0)
        {

            MyModal("alert-danger", '用户ID为0');
            return false;
        }
        $.post("/users/Draw", { UserId: uid, Amount: Amount }, function (data) {

            if (data.backState == 0) {
                MyModal("alert-success", data.message);
                setTimeout(function () {
                    window.location.href = window.location.href;
                },2000)
            }
            else {
                MyModal("alert-danger", data.message);
            }
        },"json")
    }

    function MyModal(error, str) {

        $('#_modalDialog').modal('hide');
        $("#alertDiv").addClass(error);
        $("#myModalMessage").html(str);
        $('#myModal').modal({ keyboard: false })
        //获取modal的宽度
        var modalWidth = $("#myModal").width();

        //计算偏移量
        var left = "-" + parseInt(modalWidth) / 2 + "px";

        //modal居中
        $("#myModal").modal("show").css({ "margin-left": left });
    }

</script>
